@using Microsoft.AspNetCore.Identity
@using Stix.ViewModels
@model RolesCreateViewmodel
@{
    ViewData["Title"] = "Crear rol";
}

<h1>Creación de Roles</h1><br>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label">Ingrese el nuevo rol</label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div><br>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary text-warning bg-dark" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
        <a class="btn btn-primary text-warning bg-dark" asp-action="Index" role="button">Volver</a>
</div>
