@model Stix.ViewModels.RestaurantDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Restaurant</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Restaurant.Id" />

            <div class="form-group">
                <label asp-for="RestaurantName" class="control-label"></label>
                <input asp-for="RestaurantName" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Neighbourhood" class="control-label"></label>
                <input asp-for="Neighbourhood" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Town" class="control-label"></label>
                <input asp-for="Town" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Provincia" class="control-label"></label>
                <input asp-for="Provincia" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="MenuType" class="control-label"></label>
                <input asp-for="MenuType" class="form-control" readonly />
                <span asp-validation-for="MenuType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Foods" class="control-label">Platos de Comida</label>
                <select asp-for="Foods" asp-items="@Model.AllFoods" class="form-control" multiple disabled>
                </select>
                <span asp-validation-for="Foods" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>