@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h1>Usuarios</h1>
<ul>
@foreach (var item in Model)
{
    @item.UserName <a asp-action="Edit" asp-route-id="@item.Id">Asignar Rol</a>   
}
</ul>